{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <!-- Row to center content -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Card for form -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mb-4">Collaborate with Us</h2>
                    <!-- Form to collaborate -->
                    <form method="post">
                        {% csrf_token %}
                        {{ collaborate_form|crispy }}
                        <button type="submit" class="btn btn-secondary btn-block w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}