{% extends "base.html" %}

{% load i18n %}

<!-- {% block head_title %}{% trans "Sign Out" %}{% endblock %} -->

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-8 mt-3 text-center">
            <!-- Display messages -->
            {% if messages %}
            <div class="alert alert-success">  <!-- Changed to success alert -->
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <h3>{% trans "Sign Out "%}</h3>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 text-center">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
                <a href="{% url 'accounts:profile' %}" class="btn btn-secondary mt-2">{% trans 'Cancel' %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}