{% extends "base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<!-- signin.html content starts here -->
<!-- Hero section  -->
<!-- <div class="hero">
    <div class="container text-white py-5">
        <h1 class="display-3">Welcome to the Flavour Nest Recipe Book!</h1>
        <p class="lead">Explore, share, and create delicious helathy recipes with our community.</p>
        <a href="#" class="btn btn-light btn-lg">Join Flavour Nest</a>
    </div>
</div> -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'images/pan1.png' %}" class="img-fluid rounded-start" alt="Healthy stir fry">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Log In</h5>
          <p class="card-text">Welcome back! Please enter your credentials to access your account. </p>
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div>
            <button type="submit" class="btn btn-primary">Log In</button>
            </div>
            <div>
              Not registered Yet ? <a href="{% url 'accounts:signup' %}" class="link-primary">Register</a>
            </div>
        </form>
          
        </div>
      </div>
    </div>
  </div>


<!-- signin.html content ends here -->
{% endblock %}