
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Sign Out" %} {% endblock %}

{% block content %}

<!-- Sign Out Modal -->


<h1>HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</h1>
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign out ? </h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <p>Are you sure You want to sign out ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="signout_btn">Sign out</button>
          <button type="button" class="btn btn-primary">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}