{% extends "base.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<!-- home.html content starts here -->
<!-- Hero section  -->

<section id="hero-outer">
    <!-- credit hero image, blue veg picture: https://img.freepik.com/free-photo/bright-display-different-citrus-fruits-sorted-by-color_157027-4422.jpg?t=st=1735852217~exp=1735855817~hmac=2d3d69ddd762deb27625a26b9d3533e64c0b02979b671aab8a2ce78e32a807f7&w=1800 -->
    <div class="container d-flex align-items-center">
        <div class="col-md-6">
            <div class="cover-text">
                <h2>Journey Through the Mediterranean!</h2>
                <p class="lead">Discover, Share, and Craft Mouthwatering Mediterranean Healthy Recipes with the FlavourNest Tribe!</p>
                <a href="{% url 'accounts:signup' %}" class="btn btn-lg btn-primary">Join FlavourNest</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hero-image-container">
                <img src="{% static 'images/medit-feast.jpg' %}" class="img-fluid rounded" alt="Mediterranean mezze">
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="recipe-header">Trending Recipes</h2>
        </div>
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">

                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img src="{% static 'images/recipe-placeholder.jpg' %}" class="card-img-top"
                                    alt="placeholder image">
                                {% else %}
                                <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.recipe_name }}"
                                    class="card-img-top">

                                {% endif %}
                                <div class="image-flash">
                                    <p class="author"><i class="fa-solid fa-spoon"></i> {{ recipe.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'blog:recipe_detail' recipe.slug %}" class="recipe-link">
                                <h2 class="card-title">{{ recipe.recipe_name }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ recipe.created_on|date:"F j, Y"}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>

    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<!-- Explore More Mediterranean Section -->
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h2 class="recipe-header">The Mediterranean Way: Health, Flavor, and Lifestyle</h2><br/>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                
                <img src="{% static 'images/fveg.jpg' %}" class="card-img-top" alt="Mediterranean Dish 1">
                <div class="card-body">
                    <h5 class="card-title">A Month of Mediterranean Diet Dinner Recipes to Eat in January</h5>
                    <p class="card-text">This month-long meal plan of Mediterranean diet dinner recipes will keep you
                        feeling satisfied and healthy this January. </p>
                    <a href="https://www.eatingwell.com/month-of-mediterranean-diet-dinner-recipes-january-2025-8764943"
                        class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/diet.jpg' %}" class="card-img-top" alt="Mediterranean Dish 2">
                <div class="card-body">
                    <h5 class="card-title">The Mediterranean Diet May Lower Type 2 Diabetes Risk by 17%, According to
                        New Study</h5>
                    <p class="card-text">Protein is an important macronutrient that keeps you strong and healthy. It’s
                        made up of building blocks called amino acids, which are found in every cell in the body. </p>
                    <a href="https://www.eatingwell.com/7-day-high-protein-mediterranean-diet-meal-plan-for-fall-8701604"
                        class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/weight-loss.jpg' %}" class="card-img-top" alt="Mediterranean Dish 3">
                <div class="card-body">
                    <h5 class="card-title">7-Day High-Protein Mediterranean Diet Meal Plan for Weight Loss, Created by a
                        Dietitian</h5>
                    <p class="card-text">If you’re trying to lose weight, research indicates that the Mediterranean diet
                        and a high-protein diet are two strategies that can help you achieve your goals.</p>
                    <a href="https://www.eatingwell.com/7-day-high-protein-mediterranean-diet-meal-plan-weight-loss-8756883"
                        class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- home.html content ends here -->
{% endblock %}