{% extends "base.html" %}
{% load static %}

{% block title %} All Recipes {% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Recipes List -->
     <div class="col-12">
            <h4>FalvourNest - a large and diverse database of Mediterranean recipes </h4>
        </div>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ recipe.recipe_image.url }}" class="card-img-top" alt="{{ recipe.recipe_name }}">
                <div class="card-body d-flex flex-column">
                    <a href="{% url 'blog:recipe_detail' recipe.slug %}"><h5 class="card-title" >{{ recipe.recipe_name }}</h5></a>
                    <p class="author text-muted">Made by: {{ recipe.author }}</p>
                    <p class="text-muted">{{ recipe.created_on|date:"Y-m-d" }}</p>
                    
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <!-- Categories Section -->
    <div class="row mt-5">
        <div class="col-12">
            <h4>Recipes by Category</h4>
        </div>
        {% for category in categories %}
            {% if category.recipe_set.all %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="{% static 'images/hats.jpg' %}" class="card-img-top" alt="{{ category.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a href="{% url 'blog:category_recipes' category.id %}" class="btn btn-primary">View Recipes</a>
                    </div>
                </div>
            </div>
            {% else %}
            <!-- You can optionally display a message if the category has no recipes -->
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="text-muted">No recipes available yet.</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

